<main>
    <h1>List of Users</h1>
    <% @users.each do |user|%>
        <%= link_to "/users/#{user.id}" do%>
            <%= render partial: 'shared/user_card', object: user, as: :user%>
        <% end %>
    <% end %>
</main>
