<div class='comment-container'>
    <p><strong><%= comment.author.name %>:</strong><q><%= comment.text %></q></p>
    <%= render partial: 'shared/delete_button', locals: {model: comment, url: url}%>
</div>