<header>
    <div class='left-group'>
            <div class="img-container">
                <img src=<%= current_user.photo %> id=<%= current_user.name%> alt=<%= current_user.name%>/>
            </div>
            <p><%= current_user.name %></p>

    <div>
</header>