<div>
    <h2><cite><%= post.title%></cite></h2>
    <p><%= post.text.slice(0,150).concat(' ...')%></p>
    <i class='count'>Comments: <%= post.comments_counter%></i> 
    <i class='count'>Likes: <%= post.likes_counter%> </i> 
</div>