<div class="">
    <h2><cite><%= post.title%></cite></h2>
    <p><%= post.text.slice(0,200).concat(' ...')%></p>
    <i>Comments: <%= post.comments_counter%> </i> 
    <i>Likes: <%= post.likes_counter%> </i> 
</div>