<div class="user-card">
    <div class="img-container">
        <img src=<%= user.photo %> alt=<%= user.name%> />
    </div>
    <h2><%= user.name%></h2>
    <i>Number of posts: <%= user.posts_counter%> </i>
</div>