<main>

    <%if @posts.nil? || @posts.empty? %>
        <h1>There is no posts for this user</h1>
    <%else%>
        <%= render partial: 'shared/user_card', object: @user, as: :user %>

        <h1>Here is the list of posts</h1>
        
        <%@posts.each do |post|%>
            <div class="post-card">
                <%= link_to "/users/#{@user.id}/posts/#{post.id}" do%>
                    <%= render partial: 'shared/post_card', locals: {post: post} %>
                    <div class="comment-card">
                        <%= render partial:'shared/comment_card', collection: post.recent_comment, as: :comment %>
                    </div>
                <% end  %>
            </div>
        <%end%>
    <% end%>

</main>