/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bad+Script&display=swap');

body {
  background: rgb(48, 6, 6);
  color: rgb(212, 186, 120);
  font-family: 'Bad Script', cursive;
  width: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  padding-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

header .left-group {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

main {
  width: 40%;
  height: auto;
  color: rgb(212, 99, 47);
}

h1,
h2,
i {
  color: #78828c;
}

p {
  font-family: 'Bad Script', cursive;
  text-align: left;
  margin-top: 1em;
}

.left-group p {
  font-size: 1.4em;
}

a {
  color: rgb(212, 186, 120);
  text-decoration: none;
}

.user-card {
  width: 100%;
  background: rgba(94, 94, 94, 0.5);
  color: #353738;
  border-radius: 50px;
  display: flex;
  margin: 20px 0;
  padding: 20px;
  column-gap: 20px;
}

.img-container {
  width: 40%;
}

header .img-container {
  width: 80px;
}

.img-container img {
  width: 100%;
  border-radius: 50%;
}

.name-container {
  width: 60%;
}

.user-name {
  font-size: 3em;
}

.count {
  display: block;
  text-align: right;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.like-btn {
  background: none;
  color: #78828c;
  font-family: inherit;
  border: 1px dotted #78828c;
  cursor: pointer;
  text-align: right;
}

.post-card {
  border-top: 1px solid #78828c;
  border-bottom: 1px solid #78828c;
  padding: 10px 0;
}

.comment-card {
  border-top: 1px dashed #78828c;
}

.comment-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 100%;
  font-size: 1em;
  font-family: inherit;
  display: block;
  resize: none;
  padding-right: 0;
  margin: 10px 0;
}

.submit-btn {
  width: 100%;
  font-family: inherit;
  padding: 10px;
  margin: 10px auto;
}

.delete-btn {
  background: none;
  color: #78828c;
  border: 1px dotted #78828c;
  cursor: pointer;
}
